*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    color:#434455;
    background-color:#FFFFFF;
    font-family: "Roboto", sans-serif;
  }

  img {
    display: block;
  }

  .header-title {
    border-bottom: 1px solid #e7e9fc;
  }

  .container-in-header {
    display: flex;
    width: 1158px; 
    margin: 0 auto;
    padding: 0 15px 0 15px

  }

  .navigation-info {
    display: flex;
    align-items: center;

  }

  .container { 
    display: flex;
    max-width: 1140px; 
    padding-left:15px;
    padding-right:15px;
    margin-left:auto; 
    margin-right:auto; 
    }

  ul {
    list-style: none;
      margin:0;
      padding:0;
  }
  h1,h2,h3,h4,h5,h6 {
      margin: 0;
  }
  p {
      margin:0;
  }    

  a {
    text-decoration: none;
  }
  
  .bluelogo {
    color: #4D5AE5;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
  }
  .blacklogo {
    color:#2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
  }
  
  .list-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
    list-style: none;
    display: flex;
    gap: 40px;
  }
  .info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
    padding: 24px 0 ;

  }
  .list-info:hover {
    color:#404bbf;
    
  }
  .list-info:focus {
    color:#404bbf;
  }
  
  .mail-info {
    font-style: normal;
  }
  .mail-list-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
  }
  .mail-list-info:hover {
    color:#404bbf;
  }
  .mail-list-info:focus {
    color:#404bbf;
  }
  
  .section-one {
    background-color: #2E2F42;
    padding: 188px 0;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
  }
  .title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
  }
  .title-button:hover {
    background-color:#404BBF;
  }
  .title-button:focus {
    background-color:#404BBF;
  }
  
  .section-two {
    padding: 120px 0;
  }

  .names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .strategic-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .section-three {
    background-color: #F4F4FD;
  }
  
  .title-info {
  font-size:36px;
  line-height: 1.11;
  letter-spacing:0.02em;
  text-align:center;
  text-transform:capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  }
  
  .list-headname {
    line-height: 1.11;
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;
  }
  .list-names {
    background-color: #FFFFFF;
  }

  .apps-list {
    width: calc((100% - 48px) / 3);  
  }
  
  .work-position {
  color:#434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }
  
  .name-of-service {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  
  .source {
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em; 
  }
  
/* FOOTER */

  .footer-info {
    background-color:#2E2F42;
    padding: 100px 0;
  }
  
  .whitelogo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
  }
  .text-under-logo {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
  }